@import "tailwindcss";

@theme {
  --color-primary: #BF9270;
  --color-secondary: #E3B7A0;
  --color-background-light: #FFEDDB;
  --color-background-dark: #211115;

  --font-display: "Epilogue", sans-serif;

  --radius-DEFAULT: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;
}

:root {
  --background: #FFEDDB;
  --foreground: #0f172a;
  /* slate-900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #211115;
    --foreground: #f1f5f9;
    /* slate-100 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
}

.bg-gradient-cta {
  background: linear-gradient(135deg, #E3B7A0 0%, #BF9270 100%);
}